header
    .top-header  
        .container 
            .box-left-top-header 
                .box-social 
                    a(href="#")
                        img(src="./assets/images/icons/fb.svg", alt="")
                    a(href="#")
                        img(src="./assets/images/icons/twitter.svg", alt="")
                    a(href="#")
                        img(src="./assets/images/icons/pinter.svg", alt="")
                    a(href="#")
                        img(src="./assets/images/icons/instaram.svg", alt="")
                    p Need Help? call: 0900 800 900
            .box-right-top-header 
                .box-seach 
                    a(href="#") sà
                ul.login
                    li
                        a(href="#") LOGIN 
                    li
                        a(href="#") INFO 
                ul.customer
                    li
                        a(href="#") customer 
                    li
                        a(href="#") customer
    .menu
        .logo           